<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/jpg" href="https://kanishk-upadhyay-express-covid.herokuapp.com/images/kanishk.jpg"/>
</head>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <%- include ('partials/navbar') %>
    <div class="main-index">
<div class="container">
<div>
    <h1>Complete Backend Project</h1>
    <p style="color: #fff;"> I have created complete backend project in which you can sign in,sign up and logout</p>
    <div class="btn-div">
        <a style="text-decoration:none" href=""><button style="color: #fff">Get Started</button></a>
    </div>
</div>
<div class="img-div">
    <img src="../images/hero-img.png" alt="Error loading image" srcset="">
</div>
    </div>   
        </div>
        <%- include ('partials/footer') %>
</body>
</html>